.footer.arial
  .pages
    .title 
      %p= link_to "Products",  products_path
    .title  
      %p= link_to "Projects", projects_path
    .title  
      %p= link_to "Resources", resources_path
    .title  
      %p= link_to "About", who_we_are_path
    .title  
      %p= link_to "Contact", contact_path
    .title  
      %p= link_to "Careers", careers_path
  .contacts
    .contact-container.cont-40
      .text.title.medium Specifier & Distributor Contact:
      .text.font-grey 512.872.4349
      .text.font-grey sales@ketra.com
    .contact-container.cont-40
      .text.title.medium Ketra
      .text.font-grey 512.347.1100
      .text.font-grey 3815 S. Capital of Texas Highway
      .text.font-grey Suite 100
      .text.font-grey Austin, TX 78704
    .contact-container.cont-20.social
      %img{src:"/assets/logo-outlined-facebook.png"}
      %img{src:"/assets/logo-outlined-twitter.png"}
      %img{src:"/assets/logo-outlined-linkedin.png"}
      %img{src:"/assets/logo-outlined-instagram.png"}